doctype 5
  html(lang='es')  
    head 
		meta(charset="utf-8")
		link(rel="stylesheet", href="/css/bootstrap.css")
		link(rel="stylesheet", href="/css/style.css")
  title= title  
  body!= body  
    div#navigation!= partial('navigation.jade')  
	
	